<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Shorten and manage long URLs with our easy-to-use URL Shortener tool. Improve user experience and share links more efficiently.">
  <title>URL Shortener - Shorten and Manage URLs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">URL Shortener</h1>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <div class="field">
                <label class="label" for="urlInput">Enter a URL</label>
                <div class="control has-icons-left">
                  <input id="urlInput" class="input" type="text" placeholder="E.g., https://example.com" autocomplete="off">
                  <span class="icon is-small is-left">
                    <i class="fas fa-link" alt="Link Icon"></i>
                  </span>
                </div>
              </div>
              <div id="confirmationBox" class="notification is-info is-hidden">
                <p id="confirmationText"></p>
                <br>
                <button id="confirmButton" class="button is-primary">Yes</button>
                <button id="cancelButton" class="button">Cancel</button>
              </div>
              <div id="errorBox" class="notification is-danger is-hidden"></div>
              <div id="resultBox" class="notification is-success is-hidden">
                <label id="resultLabel" class="label">Shortened URL</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input id="shortUrl" class="input" type="text" readonly>
                  </div>
                  <div class="control">
                    <button id="copyButton" class="button is-info">Copy</button>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button id="shortenButton" class="button is-primary is-fullwidth">Shorten URL</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="script.js"></script>
</body>

</html>
